.banner-one {
    height: 260px;
}

#banner-img {
    height: 300px;
    width: 1000px;
    margin-left: 160px;
}

#banner-img2 {
    height: 300px;
    width: 1000px;
    margin-left: 160px;
}
#banner-img3 {
    height: 300px;
    width: 1000px;
    margin-left: 160px;
}
.banner-img4 {
    height: 300px;
    width: 1000px;
}
.banner-img5 {
    height: 300px;
    width: 1000px;
    margin-left: 160px;
}
.banner-img6 {
    height: 300px;
    width: 1000px;
    margin-left: 160px;
}

